<%- include("../partials/navbar") %> <%- include("../partials/alert") %>
<section class="container mt-5">

  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between">
      <div>User Management</div>
      <a data-bs-toggle="modal" data-bs-target="#userCreationModal" style="cursor: pointer;">
        <i class="bi bi-plus"></i> Add
      </a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Username</th>
            <th>Creation Date</th>
            <th>Last Updated On</th>
          </tr>
        </thead>
        <tbody>
            <% userList.map((element)=>{ %>
                <tr>
                    <td><a href="/admin/user/<%= element._id %>"><%= element.username %></a></td>
                    <td><%= new Date(element.createdAt).toLocaleDateString() %></td>
                    <td><%= new Date(element.updatedAt).toLocaleDateString() %></td>
                </tr>
           <% }) %>
        </tbody>
      </table>

    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between">
      <div>Entity Management</div>
      <a data-bs-toggle="modal" data-bs-target="#entityCreationModal" style="cursor: pointer;">
        <i class="bi bi-plus"></i> Add
      </a>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Railway</th>
            <th>Committee</th>
            <th>Others</th>
          </tr>
        </thead>
        <tbody>
            <% entityList.map((element)=>{ %>
                <tr>
                    <td><a href="/admin/entity/<%= element._id %>"><%= element.name %></a></td>
                    <td><%= element.price.Railway %></td>
                    <td><%= element.price.Committee %></td>
                    <td><%= element.price.Others %></td>
                </tr>
           <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Modal -->
      <div class="modal fade" id="userCreationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/user" method="post">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="usernameField" class="form-label">Username</label>
                  <input type="text" class="form-control" id="usernameField" name="username" required>
                </div>
                <div class="mb-3">
                  <label for="passwordField" class="form-label">Password</label>
                  <input type="password" class="form-control" id="passwordField" name="password" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>

<!-- Modal -->
      <div class="modal fade" id="entityCreationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/admin/entity" method="post">
              <div class="modal-body">
                <div class="mb-3">
                  <label for="nameField" class="form-label">Name</label>
                  <input type="text" class="form-control" id="usernameField" name="name" required>
                </div>
                <div class="mb-3">
                  <label for="RailwayField" class="form-label">Railway Price</label>
                  <input type="number" class="form-control" id="RailwayField" name="Railway" required>
                </div>

                <div class="mb-3">
                  <label for="CommitteeField" class="form-label">Committee Price</label>
                  <input type="number" class="form-control" id="CommitteeField" name="Committee" required>
                </div>

                <div class="mb-3">
                  <label for="OthersField" class="form-label">Others Price</label>
                  <input type="number" class="form-control" id="OthersField" name="Others" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
            </form>
          </div>
        </div>
      </div>